{% extends 'base.html.twig' %}

{% block title %}Combat Initiative {{ parent() }}{% endblock %}

{% block body %}
    <div id="combat-tool"></div>
{% endblock %}

{% block stylesheets %}{% endblock %}
